---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		<div class="page-title">
      <h1>
        {{ page.title }} 
        <span style="font-size: 12pt;">de <a href="{{ page.origin.link }}">{{ page.origin.name }}</a></span>
      </h1>
		</div>
  <div>
    <h3>Ingrédients</h3>
    <ul>
    {% for ingredient in page.ingredients %} 
      <li>{{ ingredient }}</li>
    {% endfor %}
    </ul>
  </div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == null or page.comments == true %}
					  {% include comments.html %}
					{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
	</article><!-- ./wrap -->
</div><!-- /#main -->
